[defaults]
# Désactive la vérification stricte de l'empreinte SSH (évite le message rouge de blocage)
host_key_checking = False

# Utilise automatiquement ta clé privée générée précédemment
private_key_file = ~/.ssh/id_ansible

# L'utilisateur par défaut injecté par Cloud-Init (Debian)
remote_user = debian

# Le chemin vers ton mot de passe Ansible Vault (un dossier au-dessus)
vault_password_file = ../.vault_pass

[inventory]
# On autorise explicitement le nouveau plugin Proxmox pour l'inventaire dynamique
enable_plugins = host_list, script, auto, yaml, ini, toml, community.proxmox.proxmox
